<%- include("header") -%>

<h2>You are on the about page so don't take any tension just carry on with your work</h2>

<p>fewjifjgrbhdy euf f wf9hedf d ewdfhf id wfwqf d w fwofwf ww qwojsmackxmv we wef we w 9trhew9ij f ejwf ferjgerg jwijf wqoidfhwiefh ww  ff9ehf wfwfwefiwh f iobgef dfkeg eferkdvnbkj sboih sdvbnsdfvi</p>

<%- include("footer") -%>